body {
    background-color: lightpink;
}

p {color:green;}

.boldred{
    color: red
    font-weight: bold
}
nav > a {
    border-right: solid 1px #eff0f1;
  }
  nav > a:last-of-type {
    border-right: none;
  }
  nav a{color:orange}
